<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508514053433-qkbl867c253tq2jibq9u5tn72fj6ro9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508514053433-qkbl867c253tq2jibq9u5tn72fj6ro9h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>508514053433-2lj7rreml3l828921lfn5qav8qbdb42t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4JwBorFDYvL-audEn6jd6QYT6aqR0_pY</string>
	<key>GCM_SENDER_ID</key>
	<string>508514053433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalcavus.farmodo</string>
	<key>PROJECT_ID</key>
	<string>farmodo-34c9c</string>
	<key>STORAGE_BUCKET</key>
	<string>farmodo-34c9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508514053433:ios:ddb5befdb55a790135cce8</string>
</dict>
</plist>